.rc-ProductCardCollection {
    padding: 20px 0;
}

.course-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.course-card {
    display: flex;
    flex-direction: column;
}

.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.75rem;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
}

.hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hover-card img.card-img-top {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.hover-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.d-none {
    display: none !important;
}

/* Feature Section */
.feature-card svg {
    width: 1px;
    height: 1px;
    /* color: #ffffff; */
    background-color: #ffffff;
    size:2px;

}

.feature-card h3 {
    font-weight: 600;
    margin-top: 0.1rem;

}

.feature-card p {
    color: #000000;

}
